In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math

In [6]:
crash = pd.read_csv('accident.csv', encoding = "ISO-8859-1")
crash

,STATE,STATENAME,ST_CASE,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,...,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,0,0,2,2,0,3,3,...,13,22,10:00pm-10:59pm,25,25,23,11:00pm-11:59pm,2,2,2
1,1,Alabama,10002,0,0,1,1,0,2,2,...,Unknown,19,7:00pm-7:59pm,9,9,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),2
2,1,Alabama,10003,1,1,1,1,0,1,1,...,29,9,9:00am-9:59am,40,40,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
3,1,Alabama,10004,0,0,1,1,0,1,1,...,20,16,4:00pm-4:59pm,28,28,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
4,1,Alabama,10005,0,0,2,2,0,4,4,...,20,22,10:00pm-10:59pm,30,30,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39503,56,Wyoming,560100,0,0,1,1,0,2,2,...,2,9,9:00am-9:59am,16,16,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
39504,56,Wyoming,560101,0,0,2,2,0,2,2,...,7,19,7:00pm-7:59pm,3,3,19,7:00pm-7:59pm,28,28,1
39505,56,Wyoming,560102,0,0,1,1,0,1,1,...,Unknown,99,Unknown EMS Scene Arrival Hour,99,Unknown EMS Scene Arrival Minutes,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
39506,56,Wyoming,560103,1,1,1,1,0,1,1,...,11,17,5:00pm-5:59pm,17,17,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
39507,56,Wyoming,560104,0,0,2,2,0,2,2,...,Unknown,99,Unknown EMS Scene Arrival Hour,99,Unknown EMS Scene Arrival Minutes,99,Unknown,99,Unknown EMS Hospital Arrival Time,1

In [7]:
crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39508 entries, 0 to 39507
Data columns (total 80 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         39508 non-null  int64
 1   STATENAME     39508 non-null  object
 2   ST_CASE       39508 non-null  int64
 3   PEDS          39508 non-null  int64
 4   PERNOTMVIT    39508 non-null  int64
 5   VE_TOTAL      39508 non-null  int64
 6   VE_FORMS      39508 non-null  int64
 7   PVH_INVL      39508 non-null  int64
 8   PERSONS       39508 non-null  int64
 9   PERMVIT       39508 non-null  int64
 10  COUNTY        39508 non-null  int64
 11  COUNTYNAME    39508 non-null  object
 12  CITY          39508 non-null  int64
 13  CITYNAME      39508 non-null  object
 14  MONTH         39508 non-null  int64
 15  MONTHNAME     39508 non-null  object
 16  DAY           39508 non-null  int64
 17  DAYNAME       39508 non-null  int64
 18  DAY_WEEK      39508 non-null  int64
 19  DAY_WEEKNAME  39508 non-null  object
 20  YEAR          39508 non-null  int64
 21  HOUR          39508 non-null  int64
 22  HOURNAME      39508 non-null  object
 23  MINUTE        39508 non-null  int64
 24  MINUTENAME    39508 non-null  object
 25  TWAY_ID       39508 non-null  object
 26  TWAY_ID2      9649 non-null   object
 27  ROUTE         39508 non-null  int64
 28  ROUTENAME     39508 non-null  object
 29  RUR_URB       39508 non-null  int64
 30  RUR_URBNAME   39508 non-null  object
 31  FUNC_SYS      39508 non-null  int64
 32  FUNC_SYSNAME  39508 non-null  object
 33  RD_OWNER      39508 non-null  int64
 34  RD_OWNERNAME  39508 non-null  object
 35  NHS           39508 non-null  int64
 36  NHSNAME       39508 non-null  object
 37  SP_JUR        39508 non-null  int64
 38  SP_JURNAME    39508 non-null  object
 39  MILEPT        39508 non-null  int64
 40  MILEPTNAME    39508 non-null  object
 41  LATITUDE      39508 non-null  float64
 42  LATITUDENAME  39508 non-null  float64
 43  LONGITUDE     39508 non-null  float64
 44  LONGITUDNAME  39508 non-null  float64
 45  HARM_EV       39508 non-null  int64
 46  HARM_EVNAME   39508 non-null  object
 47  MAN_COLL      39508 non-null  int64
 48  MAN_COLLNAME  39508 non-null  object
 49  RELJCT1       39508 non-null  int64
 50  RELJCT1NAME   39508 non-null  object
 51  RELJCT2       39508 non-null  int64
 52  RELJCT2NAME   39508 non-null  object
 53  TYP_INT       39508 non-null  int64
 54  TYP_INTNAME   39508 non-null  object
 55  REL_ROAD      39508 non-null  int64
 56  REL_ROADNAME  39508 non-null  object
 57  WRK_ZONE      39508 non-null  int64
 58  WRK_ZONENAME  39508 non-null  object
 59  LGT_COND      39508 non-null  int64
 60  LGT_CONDNAME  39508 non-null  object
 61  WEATHER       39508 non-null  int64
 62  WEATHERNAME   39508 non-null  object
 63  SCH_BUS       39508 non-null  int64
 64  SCH_BUSNAME   39508 non-null  object
 65  RAIL          39508 non-null  object
 66  RAILNAME      39508 non-null  object
 67  NOT_HOUR      39508 non-null  int64
 68  NOT_HOURNAME  39508 non-null  object
 69  NOT_MIN       39508 non-null  int64
 70  NOT_MINNAME   39508 non-null  object
 71  ARR_HOUR      39508 non-null  int64
 72  ARR_HOURNAME  39508 non-null  object
 73  ARR_MIN       39508 non-null  int64
 74  ARR_MINNAME   39508 non-null  object
 75  HOSP_HR       39508 non-null  int64
 76  HOSP_HRNAME   39508 non-null  object
 77  HOSP_MN       39508 non-null  int64
 78  HOSP_MNNAME   39508 non-null  object
 79  FATALS        39508 non-null  int64
dtypes: float64(4), int64(42), object(34)
memory usage: 24.1+ MB

In [10]:
crash.isnull().sum().sort_values(ascending = False)

TWAY_ID2        29859
STATE               0
LATITUDE            0
WRK_ZONENAME        0
WRK_ZONE            0
                ...
TWAY_ID             0
MINUTENAME          0
MINUTE              0
HOURNAME            0
FATALS              0
Length: 80, dtype: int64

In [ ]:
### Data Description
# PEDS: Number of Persons Not in Motor Vehicles
# PERNOTMVIT: Number of Persons Not in Motor Vehicles In-Transport
# VE_TOTAL: Number of Vehicles in Crash
# VE_FORMS: Number of Vehicle Forms
# PVH_INVL: Number of Parked/Working Vehicles in the Crash
# PERSONS: Number of Person Forms
# PERMVIT: Number of Persons in Motor Vehicles In-Transport
# COUNTY: ID of the County(Special Number)(0 = Not applicable, 997 = Other, 998 = Not reported, 999 = Unknown)
# COUNTYNAME: Name of the County
# CITY: ID of the City(0 = Not applicable, 9997 = Other, 9898 = Not reported, 9999 = Unknown)
# CITYNAME: Name of the City
# MONTH: Month name by Number
# MONTHNAME: Month name
# DAY: Day of the Month of the Crash(1-31 Days of Month, 99 = Unknown)
# DAYNAME: Same column as DAY
# DAY_WEEK: Day of the Week(in Number)
# DAY_WEEKNAME: Name of the Day(Monday, Tuesday, etc)
# HOUR: When the Crash Happened
# HOURNAME: Timestamp of the Crash
# MINUTE: When the Crash Happened after hour whihc records minutes(00-59 Minutes, 99= Not Applicable, 99 = Unknown)
# MINUTENAME: Same Column as MINUTE
# TWAY_ID: Trifficway on which crash happened
# ROUTE: Trafficway on which crash happened
# ROUTNAME: Name of the Trafficway like
#(Interstate, U.S. Highway, State Highway,County Road,Local Street – Township,Local Street – Municipality,Local Street – Frontage Road (Since 1994),Other,Unknown)
# RUR_URB: Rural or Urban(1 = Rural, 2 = Urban)
# RUR_URBNAME: Name of the Rural or Urban
# FUNC_SYS: ID of Functional Classification of the segment of the trafficway which crash occured
# FUNC_SYSNAME: Name of the Functional Classification
# RD_OWNER: ID of Legal Ownership of Segment of Trafficway(Agency ID)
# RD_OWNERNAME: Name of the Legal Ownership(Agency Name)
# NHS: National Highway System(0 = Not National Highway, 1 = National Highway, 9 = Unknown)
# NHSNAME: Name of the National Highway
# SP_JUR: Special Jurisdiction(from 1-9)
# SP_JURNAME: Name of the Special Jurisdiction
# MILEPT: Mile Point of nearset to the location where crash occured
# MILEPTNAME: Name of the Mile Point(0 is Defined by None in the column else same)
# LATITUDE: Latitude
# LATITUDENAME: Same as LATITUDE
# LONGIUDE: Longitude
# LONGIUDENAME: Same as LONGITD
# HARM_EV: First injury or damage producing event of crash by ID
# HARM_EVNAME: Name of the First injury or damage producing event
# MAN_COLL: Type of Collision by ID
# MAN_COLLNAME: Name of the Type of Collision
# RELJCT1: Relation to Junction(Internchangable area)
# RELJCT1NAME: Name of the Relation to Junction
# RELJCT2: Relation to Junction (Specific Location)
# RELJCT2NAME: Name of the Relation to Junction
# TYP_INT: Type of Intersection by ID
# TYP_INTNAME: Name of the Type of Intersection
# REL_ROAD: ID of Relation to Trafficway(location of crash as it relates to its position within or outside the trafficway based on the 'First Harmful Event')
# REL_ROADNAME: Name of the Relation to Trafficway
# WRK_ZONE: ID of Work Zone
# WRK_ZONENAME: Name of the Work Zone
# LGT_COND: ID of Lighting Condition
# LGT_CONDNAME: Name of the Lighting Condition\
# WEATHER: ID of Weather
# WEATHERNAME: Name of the Weather
# SCH_BUS: ID of whether school bus is related to crash or not
# SCH_BUSNAME: (YES/NO)
# RAIL: Rail Grade Crossing Identifier(Six Digits Followed by One Alphabetic Valid F.R.A. Code, 00000 = Not Applicable, 99999 = Unknown)
# RAILNAME: Name of the Rail Grade
# NOT_HOUR: Hour that emergency medical services was notified.
# NOT_HOURNAME: Timestamp of the Emergency Medical Services notified.
# NOT_MIN: Minutes after the hour that emergency medical services was notified.
# NOT_MINNAME: Same Column as NOT_MIN(Just 0 is Unknown here)
# ARR_HOUR: Hour that emergency medical services arrived
# 0-23 Hours, 88 = Not Applicable or Not Notified, 99 = Unknown Hour, Officially Cancelled, Unkown if Arrived)
# ARR_HOURNAME: Timestamp of the Emergency Medical Services arrived
# ARR_MIN: Minutes after the hour that emergency medical services arrived
# 0-59 Minutes, 88 = Not Applicable or Not Notified, 99 = Unknown Minute, Officially Cancelled, Unkown if Arrived)
# ARR_MINNAME: Same Column as ARR_MIN(Just String Vl)
# HOSP_HR: Hour that emergency medical services arrived at the hospital
# 0-23 Hours, 88 = Not Applicable or Not Notified, 99 = Unknown Hour, Officially Cancelled, Unkown if Arrived)
# HOSP_HRNAME: Timestamp of the Emergency Medical Services arrived at the hospital
# HOSP_MN: Minutes after the hour that emergency medical services arrived at the hospital
# 0-59 Minutes, 88 = Not Applicable or Not Notified, 99 = Unknown Minute, Officially Cancelled, Unkown if Arrived)
# FATALS: Number of Fatalities

Now to make the dataset tidy I'll rename the columns to be more readable and understandable. And remove most of the unnecessary columns which are not needed for further analysis.

In [8]:
crash.columns

Index(['STATE', 'STATENAME', 'ST_CASE', 'PEDS', 'PERNOTMVIT', 'VE_TOTAL',
       'VE_FORMS', 'PVH_INVL', 'PERSONS', 'PERMVIT', 'COUNTY', 'COUNTYNAME',
       'CITY', 'CITYNAME', 'MONTH', 'MONTHNAME', 'DAY', 'DAYNAME', 'DAY_WEEK',
       'DAY_WEEKNAME', 'YEAR', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME',
       'TWAY_ID', 'TWAY_ID2', 'ROUTE', 'ROUTENAME', 'RUR_URB', 'RUR_URBNAME',
       'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER', 'RD_OWNERNAME', 'NHS',
       'NHSNAME', 'SP_JUR', 'SP_JURNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE',
       'LATITUDENAME', 'LONGITUDE', 'LONGITUDNAME', 'HARM_EV', 'HARM_EVNAME',
       'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME', 'RELJCT2',
       'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'REL_ROAD', 'REL_ROADNAME',
       'WRK_ZONE', 'WRK_ZONENAME', 'LGT_COND', 'LGT_CONDNAME', 'WEATHER',
       'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOUR',
       'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME',
       'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN',
       'HOSP_MNNAME', 'FATALS'],
      dtype='object')

Here by deleting the columns which are not needed for further analysis
`STATE`,`ST_CASE`, `VE_FORMS`, `PERSONS`, `COUNTY`, `CITY`,, `DAYNAME`,`HOURNAME`,`MINUTENAME`,`TWAY_ID2`(It has empty values around 30 Thousand),`ROUTE` , `RUR_URB`, `FUNC_SYS`, `RD_OWNER`, `NHS`, `SP_JUR`,`MILEPTNAME`, `LATTITUDENAME`, `LONGITUDENAME`, `HARM_EV`, `MAN_COLL`, `RELJCT1`,`RELJCT2`,`TYP_INT`, `REL_ROAD`, `WRK_ZONE`, `LGT_COND`, `WEATHER`, `SCH_BUS`, `RAIL`, `NOT_HOURNAME`, `NOT_MINNAME`, `ARR_HOURNAME`, `ARR_MINNAME`, `HOSP_HRNAME`, `HOSP_MNNAME`

In [12]:
columns_to_drop = ['STATE', 'ST_CASE', 'VE_FORMS', 'PERSONS', 'COUNTY', 'CITY', 'DAYNAME', 'HOURNAME', 'MINUTENAME', 'TWAY_ID2', 'ROUTE', 'RUR_URB', 'FUNC_SYS', 'RD_OWNER', 'NHS', 'SP_JUR', 'MILEPTNAME', 'LATITUDENAME', 'LONGITUDNAME', 'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WRK_ZONE', 'LGT_COND', 'WEATHER', 'SCH_BUS', 'RAIL', 'NOT_HOURNAME', 'NOT_MINNAME', 'ARR_HOURNAME', 'ARR_MINNAME', 'HOSP_HRNAME', 'HOSP_MNNAME']

crash = crash.drop(columns=columns_to_drop)

In [13]:
crash

,STATENAME,PEDS,PERNOTMVIT,VE_TOTAL,PVH_INVL,PERMVIT,COUNTYNAME,CITYNAME,MONTH,MONTHNAME,...,WEATHERNAME,SCH_BUSNAME,RAILNAME,NOT_HOUR,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,FATALS
0,Alabama,0,0,2,0,3,ST. CLAIR (115),NOT APPLICABLE,2,February,...,Rain,No,Not Applicable,22,13,22,25,23,2,2
1,Alabama,0,0,1,0,2,JEFFERSON (73),NOT APPLICABLE,2,February,...,Rain,No,Not Applicable,99,99,19,9,88,88,2
2,Alabama,1,1,1,0,1,JEFFERSON (73),NOT APPLICABLE,2,February,...,Rain,No,Not Applicable,9,29,9,40,88,88,1
3,Alabama,0,0,1,0,1,SHELBY (117),NOT APPLICABLE,2,February,...,Clear,No,Not Applicable,16,20,16,28,99,99,1
4,Alabama,0,0,2,0,4,JEFFERSON (73),NOT APPLICABLE,1,January,...,Cloudy,No,Not Applicable,22,20,22,30,88,88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39503,Wyoming,0,0,1,0,2,JOHNSON (19),NOT APPLICABLE,11,November,...,Clear,No,Not Applicable,9,2,9,16,88,88,1
39504,Wyoming,0,0,2,0,2,BIG HORN (3),NOT APPLICABLE,12,December,...,Clear,No,Not Applicable,18,7,19,3,19,28,1
39505,Wyoming,0,0,1,0,1,SWEETWATER (37),NOT APPLICABLE,12,December,...,Clear,No,Not Applicable,99,99,99,99,88,88,1
39506,Wyoming,1,1,1,0,1,LARAMIE (21),CHEYENNE,12,December,...,Clear,No,Not Applicable,17,11,17,17,88,88,1
39507,Wyoming,0,0,2,0,2,LINCOLN (23),NOT APPLICABLE,12,December,...,Clear,No,Not Applicable,99,99,99,99,99,99,1

In [14]:
crash.columns

Index(['STATENAME', 'PEDS', 'PERNOTMVIT', 'VE_TOTAL', 'PVH_INVL', 'PERMVIT',
       'COUNTYNAME', 'CITYNAME', 'MONTH', 'MONTHNAME', 'DAY', 'DAY_WEEK',
       'DAY_WEEKNAME', 'YEAR', 'HOUR', 'MINUTE', 'TWAY_ID', 'ROUTENAME',
       'RUR_URBNAME', 'FUNC_SYSNAME', 'RD_OWNERNAME', 'NHSNAME', 'SP_JURNAME',
       'MILEPT', 'LATITUDE', 'LONGITUDE', 'HARM_EVNAME', 'MAN_COLLNAME',
       'RELJCT1NAME', 'RELJCT2NAME', 'TYP_INTNAME', 'REL_ROADNAME',
       'WRK_ZONENAME', 'LGT_CONDNAME', 'WEATHERNAME', 'SCH_BUSNAME',
       'RAILNAME', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR', 'ARR_MIN', 'HOSP_HR',
       'HOSP_MN', 'FATALS'],
      dtype='object')